In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../data/train.parquet/')

In [4]:
df['target'].value_counts()

target
3    6027
1    6006
2    6005
0    5962
Name: count, dtype: int64

In [5]:
test = pd.read_parquet('../data/test.parquet/')

In [7]:
test['target'].value_counts()

target
2    1555
1    1491
3    1482
0    1472
Name: count, dtype: int64

In [8]:
test

,client_id,event_time,amount_rur,small_group,target,trx_count
0,580,"[0.0, 0.0013717421124828531, 0.001371742112482...","[4.1768304367775295, 2.735989569791452, 3.1544...","[0, 12, 1, 2, 31, 0, 22, 0, 31, 4, 12, 0, 0, 4...",3,744
1,613,"[0.009602194787379973, 0.010973936899862825, 0...","[2.590392157633977, 2.570778488861964, 0.86457...","[0, 1, 2, 84, 8, 0, 2, 6, 0, 2, 2, 2, 0, 17, 6...",3,848
2,970,"[0.0013717421124828531, 0.00411522633744856, 0...","[2.8875344030760046, 4.04699086583863, 4.02517...","[4, 0, 0, 0, 0, 0, 8, 3, 0, 0, 0, 0, 0, 0, 8, ...",1,706
3,1903,"[0.0, 0.0013717421124828531, 0.002743484224965...","[1.7190095488633912, 3.029747152141269, 1.5855...","[2, 8, 1, 19, 0, 1, 1, 1, 1, 1, 50, 35, 3, 2, ...",2,878
4,2142,"[0.0027434842249657062, 0.0027434842249657062,...","[6.730417681603254, 3.7408787492243167, 3.6112...","[9, 6, 0, 23, 10, 10, 9, 0, 23, 0, 66, 9, 12, ...",1,701
...,...,...,...,...,...,...
5995,38521,"[0.0, 0.0, 0.0013717421124828531, 0.0013717421...","[2.952615982480363, 2.94669957997668, 2.855780...","[4, 14, 8, 0, 1, 2, 1, 9, 0, 0, 1, 0, 0, 1, 1,...",2,1110
5996,38816,"[0.0013717421124828531, 0.0027434842249657062,...","[2.6061651205985994, 2.690429192344808, 5.0425...","[2, 2, 1, 0, 40, 0, 2, 0, 2, 40, 2, 40, 40, 40...",0,1147
5997,41224,"[0.0013717421124828531, 0.00411522633744856, 0...","[3.915716177265764, 3.153846516647683, 2.18863...","[12, 1, 4, 0, 10, 0, 1, 5, 4, 0, 0, 8, 4, 0, 1...",2,1071
5998,42301,"[0.01646090534979424, 0.01783264746227709, 0.0...","[4.063850989885759, 3.543738068444265, 2.48415...","[0, 0, 1, 10, 1, 6, 4, 1, 2, 0, 1, 5, 13, 6, 0...",0,958
5999,48983,"[0.0027434842249657062, 0.00411522633744856, 0...","[3.114581407392372, 3.737502937726269, 4.96538...","[1, 4, 0, 9, 10, 14, 36, 0, 3, 21, 14, 2, 10, ...",3,1016

In [15]:
df['small_group'].apply(max).max()

201

In [16]:
test['small_group'].apply(max).max()

198